p, h1 , div , ul , li {
    /* scrollbar-width: 3px; */
    font-family: 'Times New Roman', Times, serif;
}
.program{
    color: red;
    border-radius: 30px;
    padding: 10px;
    margin: 1px;
    background: #000;
}
#countDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
   }
   .jours{
    background:#f0f0f0;
    border: solid 2px #d8dfd885;
    color: #4361bb;
    font-weight: bold;
    font-size: 38px ; 
    margin: 0 20px;
    padding:10px;
    width: 15dvh;
    height: fit-content;
}
   .text{
       font-size: 12px;
   }
#formateur{
    border-top: dashed 1px rgb(150, 149, 149);
    /* border-width: 90vw; */
    background-color: rgba(244, 248, 246, 0.774);
}
.section1{
    background-color: #4361bb ;
    color: #f0f0f0;
}
.bonde{
    background: #0428f162;
}
.logos-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;

}
.logos{
    width: 20vw;
    /* height: fit-content; */
    object-fit: cover;

}
.tprogram{
    color: #f0f0f0;
    background-color: rgb(07, 2, 112);
    table-layout: auto;
    margin-left: 20px;
    border: 2px solid #1900fc;
}
td b {
    color: rgb(255, 255, 255);
}
.colored{
    background-color: #f0f0f0;
    color: #1900fc;
}
.organisateur{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user h2, .user h3, .user a {
    margin: 0;
    font-size: 20px;
    font-style: italic;
}
.user h2 {
    font-weight: bold;
    font-size: 24px;
}
@media screen and (max-width: 980px) {

.logos-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.logos{
    width: 30vw;
    height: 20vh;

}
}